---
interface Props {
  title?: string;
  description?: string;
}

const from = Astro.url.searchParams.get("from")!;
const to = Astro.url.searchParams.get("to")!;

function getDescription(to?: string, from?: string) {
  if (!to && !from) return "Tienes un regalo";
  if (to && from) {
    return `${to} tienes un regalo de ${from}`;
  }
  if (to) {
    return `${to} tienes un regalo`;
  }
}

const {
  title = "Nos llegó un mensaje para ti",
  description = getDescription(to, from),
} = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
